<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <h1>Bem-vindo !</h1>
    <header>
        
        <h1>Minha Página HTML</h1>
        
        <nav>
            <ul>
                <li><a href="/alunos">Listar Alunos</a></li>
                <li><a href="/alunos/listarAlunos">Listar Alunos</a></li>
                <li><a href="/alunos/formCadastroUser">Cadastro</a></li>
            </ul>
        </nav>
    </header>

    <footer>&copy Curso FullStack - SENAC  2023.</footer>
    
</body>
</html>